<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Recetario Favorito</title>
    <!--Íconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body>
    <!--Encabezado-->
    <header>
        <span class="logo">
            <a href="/">Tu Recetario Favorito</a>
        </span>
        <nav class="navigation-header">
            <a href="#">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </nav>

    </header>
<hr>
    <!--Banner principal-->
    <section class="container section-banner-hero">        
        <div class="content">
            <h1>Bienvenido!</h1>
            <p>¿Qué vas a cocinar hoy?</p>
        </div>
        <div class="container-img">
            <img src="#"
            alt="Img de fondo">
        </div>

    </section>
<hr>
    <!-- Sección Categorías-->
    <section class="container section-categorias">
        <div class="header">
            <h2>Categorias</h2>
            <a href="#" class="btn-all-categorias">
                VER TODAS LA CATEGORIAS
            </a>
        </div>
        <!-- Caregorías -->
        <div class="list-card-categorias">
            <div class="card-category breakfast">
                <img src="#" alt="Icono Desayuno"/>
                <p>Desayuno</p>
            </div>
            <div class="card-category vegan">
                <img src="#" alt="Icono vegano"/>
                <p>Vegano</p>
            </div>
            <div class="card-category meat ">
                <img src="#" alt="Icono carne"/>
                <p>carne</p>
            </div>
            <div class="card-category desert">
                <img src="#" alt="Icono postre"/>
                <p>postre</p>
            </div>
            <div class="card-category chocolate">
                <img src="#" alt="Icono chocolate"/>
                <p>chocolate</p>
            </div>
        </div>
    </section>
<hr>
    <!-- Sección comidas sencillas-->
    <main class="container">
        <h2>RECETAS</h2>
        <input type="text" placeholder="Algo específico?...">
        <button>Buscar</button>
        <button>Añadir</button>
        <!--Cards de las recetas-->
        <div class="list-card-recipes">
            <!--Card Receta 1-->
            <div class="card-recipe">
                <div class="container-img">
                    <img src="#" alt="imagen receta">
                    <button class="btn-favorite">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    
                </div>
                <div class="content">
                    <h3>Nombre: Pancakes de avena y fresa con jarabe de miel</h3>
                    <div class="footer">
                        <span class="time"> 
                            <i class="fa-solid fa-clock"></i>
                            30 minutos
                        </span>
                        <span class="category"> 
                            <i class="fa-solid fa-utensils"></i>
                            Desayuno
                        </span>
                    </div>
                </div>
            </div>
            <!-- Card Receta 2-->
            <div class="card-recipe">
                <div class="container-img">
                    <img src="#" alt="imagen receta">
                    <button class="btn-favorite">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    
                </div>
                <div class="content">
                    <h3>Nombre: Salmón asado con lima fresca y salsa de jengibre</h3>
                    <div class="footer">
                        <span class="time"> 
                            <i class="fa-solid fa-clock"></i>
                            30 minutos
                        </span>
                        <span class="category"> 
                            <i class="fa-solid fa-utensils"></i>
                            Pescado
                        </span>
                    </div>
                </div>
            </div>
            <!-- Card receta 3-->
            <div class="card-recipe">
                <div class="container-img">
                    <img src="#" alt="imagen receta">
                    <button class="btn-favorite">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    
                </div>
                <div class="content">
                    <h3>Nombre: Ensalada mixta saludable y fresca con mayones</h3>
                    <div class="footer">
                        <span class="time"> 
                            <i class="fa-solid fa-clock"></i>
                            30 minutos
                        </span>
                        <span class="category"> 
                            <i class="fa-solid fa-utensils"></i>
                            Saludable
                        </span>
                    </div>
                </div>
            </div>
            <!--Card Receta 1-->
            <div class="card-recipe">
                <div class="container-img">
                    <img src="#" alt="imagen receta">
                    <button class="btn-favorite">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    
                </div>
                <div class="content">
                    <h3>Nombre: Pancakes de avena y fresa con jarabe de miel</h3>
                    <div class="footer">
                        <span class="time"> 
                            <i class="fa-solid fa-clock"></i>
                            30 minutos
                        </span>
                        <span class="category"> 
                            <i class="fa-solid fa-utensils"></i>
                            Desayuno
                        </span>
                    </div>
                </div>
            </div>
            <!-- Card Receta 2-->
            <div class="card-recipe">
                <div class="container-img">
                    <img src="#" alt="imagen receta">
                    <button class="btn-favorite">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    
                </div>
                <div class="content">
                    <h3>Nombre: Salmón asado con lima fresca y salsa de jengibre</h3>
                    <div class="footer">
                        <span class="time"> 
                            <i class="fa-solid fa-clock"></i>
                            30 minutos
                        </span>
                        <span class="category"> 
                            <i class="fa-solid fa-utensils"></i>
                            Pescado
                        </span>
                    </div>
                </div>
            </div>
            <!-- Card receta 3-->
            <div class="card-recipe">
                <div class="container-img">
                    <img src="#" alt="imagen receta">
                    <button class="btn-favorite">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    
                </div>
                <div class="content">
                    <h3>Nombre: Ensalada mixta saludable y fresca con mayones</h3>
                    <div class="footer">
                        <span class="time"> 
                            <i class="fa-solid fa-clock"></i>
                            30 minutos
                        </span>
                        <span class="category"> 
                            <i class="fa-solid fa-utensils"></i>
                            Saludable
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>
<hr>
    <!-- Footer-->
    <footer>
        <p>Página hecha por: Ancco Q., Berrocal C. y Medina R.</p>
    </footer>

    <!--Pag scrip-->
    <!--<script src="index.js"> </script>-->
</body>
</html>

